<template>
  <div>
    <h1 class="scanBarCode-component-title">ScanBarCode</h1>

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          v-model="searchOrderNo"
          @keyup.enter="parseBarcode"
          autofocus
        />
      </div>
      <div class="col-md-6 offset-md-3">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Price</th>
              <th>Barcode</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td v-for="(order, key) in orders" :key="key">{{ order }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6 offset-md-3">
        <button @click="testPrint" class="btn btn-primary">Test PRINT</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ScanBarCode",
  data() {
    return {
      searchOrderNo: "",
      orders: "",
    };
  },
  methods: {
    parseBarcode() {
      axios
        .get("/js/products.json")
        .then((result) => {
          let object = result.data;
          let that = this;

          object.forEach(function (arrayItem) {
            if (arrayItem.barcode === that.searchOrderNo) {
              that.orders = arrayItem;
              console.log(arrayItem.barcode);
            }
          });
        })
        .catch((err) => {
          console.log(err);
        });
      // this.searchOrderNo = "";
    },
    testPrint() {
      qz.websocket
        .connect()
        .then(() => {
          return qz.printers.find();
        })
        .then((printers) => {
          console.log(printers);
          // let config = qz.configs.create("gezhiweixin_micro_printer");

          let config = qz.configs.create("EPSON TM-T88IV ReStick");
          let data = [
            {
              type: "raw",
              format: "image",
              data: "/img/image_sample_bw.png",
              options: {
                language: "ESCPOS",
                dotDensity: "double",
              },
            },
            "\x1B" + "\x40", // init
            "\x1B" + "\x61" + "\x31", // center align
            "Beverly Hills, CA  90210" + "\x0A",
            "\x0A", // line break
            "www.qz.io" + "\x0A", // text and line break
            "\x0A", // line break
            "\x0A", // line break
            "May 18, 2016 10:30 AM" + "\x0A",
            "\x0A", // line break
            "\x0A", // line break
            "\x0A",
            "Transaction # 123456 Register: 3" + "\x0A",
            "\x0A",
            "\x0A",
            "\x0A",
            "\x1B" + "\x61" + "\x30", // left align
            "Baklava (Qty 4)       9.00" + "\x1B" + "\x74" + "\x13" + "\xAA", //print special char symbol after numeric
            "\x0A",
            "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" + "\x0A",
            "\x1B" + "\x45" + "\x0D", // bold on
            "Here's some bold text!",
            "\x0A",
            "\x1B" + "\x45" + "\x0A", // bold off
            "\x1D" + "\x21" + "\x11", // double font size
            "Here's large text!",
            "\x0A",
            "\x1D" + "\x21" + "\x00", // standard font size
            "\x1B" + "\x61" + "\x32", // right align
            "\x1B" + "\x21" + "\x30", // em mode on
            "DRINK ME",
            "\x1B" + "\x21" + "\x0A" + "\x1B" + "\x45" + "\x0A", // em mode off
            "\x0A" + "\x0A",
            "\x1B" + "\x61" + "\x30", // left align
            "------------------------------------------" + "\x0A",
            "\x1B" + "\x4D" + "\x31", // small text
            "EAT ME" + "\x0A",
            "\x1B" + "\x4D" + "\x30", // normal text
            "------------------------------------------" + "\x0A",
            "normal text",
            "\x1B" + "\x61" + "\x30", // left align
            "\x0A" + "\x0A" + "\x0A" + "\x0A" + "\x0A" + "\x0A" + "\x0A",
            //'\x1B' + '\x69', // cut paper (old syntax)
            "\x1D" + "\x56" + "\x00", // full cut (new syntax)
            // '\x1D' + '\x56'  + '\x30' // full cut (new syntax)
            // '\x1D' + '\x56'  + '\x01' // partial cut (new syntax)
            // '\x1D' + '\x56'  + '\x31' // partial cut (new syntax)
            "\x10" + "\x14" + "\x01" + "\x00" + "\x05", // Generate Pulse to kick-out cash drawer** XPrinter
            // **for legacy drawer cable CD-005A.  Research before using.
            // see also http://keyhut.com/popopen4.htm
          ];
          this.printData(config, data);
        })
        .then(() => {
          // return qz.websocket.disconnect();
        })
        .then(() => {
          // process.exit(0);`
        })
        .catch((err) => {
          console.error(err);
          // process.exit(1);
        });
    },
    printData(config, data) {
      return qz.print(config, data);
    },
  },
  created() {
    axios.get("api/pos/print").then((data) => console.log(data.data));
  },
};
</script>

<style>
.scanBarCode-component-title {
  margin: 40px 0px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: underline;
}
</style>